<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleExecutable</key><string>STGMac</string>
<key>CFBundleIdentifier</key><string>com.timbertrail.screentimeguardian.macos</string>
<key>CFBundleName</key><string>Screen Time Guardian</string>
<key>CFBundleDisplayName</key><string>Screen Time Guardian</string>
<key>CFBundleIconFile</key><string>AppIcon</string>
<key>CFBundleShortVersionString</key><string>1.1.6</string>
<key>CFBundleVersion</key><string>14</string>
<key>LSUIElement</key><true/>
<key>NSHighResolutionCapable</key><true/>
<key>STGOneDriveClientID</key><string>a4ff927c-e45a-413e-b5c3-45b026719171</string>
<key>STGGoogleClientID</key><string>552360735383-030pcr7mduhf1d20kjslobh5dhacsg2o.apps.googleusercontent.com</string>
<key>STGGoogleClientSecret</key><string></string>
<key>CFBundleURLTypes</key><array><dict><key>CFBundleURLName</key><string>STG Google OAuth</string><key>CFBundleURLSchemes</key><array><string>com.googleusercontent.apps.552360735383-030pcr7mduhf1d20kjslobh5dhacsg2o</string></array></dict></array>
<key>NSUbiquitousContainers</key><dict><key>iCloud.com.timbertrail.screentimeguardian</key><dict><key>NSUbiquitousContainerIsDocumentScopePublic</key><true/><key>NSUbiquitousContainerName</key><string>Screen Time Guardian</string><key>NSUbiquitousContainerSupportedFolderLevels</key><string>Any</string></dict></dict>
</dict></plist>
