<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap rescap">
  <!-- Partner Center replaces Name and Publisher when the package is associated with the reserved Store product. -->
  <Identity Name="REPLACE_WITH_PARTNER_CENTER_IDENTITY_NAME" Publisher="CN=REPLACE_WITH_PARTNER_CENTER_PUBLISHER" Version="1.1.9.0" ProcessorArchitecture="neutral" />
  <Properties>
    <DisplayName>Screen Time Guardian</DisplayName>
    <PublisherDisplayName>Mike Chong Zhou</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Resources><Resource Language="x-generate" /></Resources>
  <Dependencies><TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" /></Dependencies>
  <Applications>
    <Application Id="App" Executable="ScreenTimeGuardian.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Screen Time Guardian" Description="Local-first screen-time record and reminder app" BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
