<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>STG Monitor</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.8</string>
	<key>CFBundleVersion</key>
	<string>23</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.deviceactivity.monitor-extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).MonitorExtension</string>
	</dict>
	<key>STGGoogleClientID</key>
	<string>552360735383-alblvd6inepkvg6cni453j1t6pl6gf0g.apps.googleusercontent.com</string>
	<key>STGKeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)group.com.timbertrail.screentimeguardian</string>
	<key>STGOneDriveClientID</key>
	<string>a4ff927c-e45a-413e-b5c3-45b026719171</string>
</dict>
</plist>
